/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-image {
    background: url('../assets/bg.png');
}

.bg-gradient {
    background: linear-gradient(#FFFFFF, rgba(254, 163, 1, 0.3)), url('../assets/bg.png');
}

.bg-color-1 {
    background-color: #FFFFFF;
}

.bg-color-2 {
    background-color: #01ACFD;
}

#bg-color-3 {
    background-color: #95B226;
}

#bg-color-4 {
    background-color: #5D58F0;
}

.color-1 {
    color: #FEA301;
}

.color-2 {
    color: #01ACFD;
}

.color-3 {
    color: #05D4DF;
}

.color-4 {
    color: #5D58EF;
}

.color-5 {
    color: #64C8FF;
}

.color-6 {
    color: #F0AA00;
}

.color-7 {
    color: #8700FF;
}

.gradient-1 {
    background: linear-gradient(#DEF5FF, #FFFFFF);
}

.gradient-2 {
    background: linear-gradient(#FFF4DC, #FFFFFF);
}

.gradient-3 {
    background: linear-gradient(#EEE1FF, #FFFFFF);
}

.section-title {
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
    width: 50%;
}


.btn-1 {
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
    color: #FFFFFF;
    padding: 10px;
    width: 180px;
    cursor: pointer;
}

.btn-1:hover {
    color: #FEA301;
    background-color: #FFFFFF;
    border: 1px solid #FEA301;
}

.btn-2 {
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
    width: 180px;
    cursor: pointer;
}

.btn-2:hover {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid black;
}

.btn-3 {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
    background-color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn-3:hover {
    transform: scale(1.2);
}

.flex {
    display: flex;
    align-items: center;
}

.max-width {
    max-width: 1160px;
    margin: 0 auto;
}

/* Nav Style Starts */
.nav-bar {
   justify-content: space-around;
   padding: 20px 80px;
}

.nav-brand {
    gap: 10px;
}

.nav-logo {
    width: 50px;
}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

.nav-link {
    list-style: none;
    margin-right: 35px;
    font-size: 1.25rem;
}

.nav-link a {
    text-decoration: none;
}

.nav-bar-2 {
    visibility: hidden;
}

/* Banner Style Starts */
.banner {
    justify-content: space-between;
    gap: 50px;
}

.banner-title {
    font-size: 3.5rem;
    line-height: 60px;
}

.banner-desc {
    font-size: 1.25rem;
    line-height: auto;
    margin-bottom: 35px;
}

/* Std Curriculum Style Starts */
.std-curriculum {
    padding: 60px 0;
}

.std-card-list {
    justify-content: center;
    gap: 28px;
}

.std-card {
    margin: 80px 0;
    text-align: center;
    border-radius: 18px;
    padding: 50px 25px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
}

.std-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 30px;
    color: #202020;
}

.std-card-desc {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: #808080;
}

.prev-next {
    justify-content: center;
    gap: 10px;
}

.prev, .next {
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FEA301;
    cursor: pointer;
}

/* Our Story Style Starts */
.our-stories {
    padding: 60px 0;
    text-align: center;
}

.story-card-list {
    justify-content: center;
    gap: 20px;
    margin: 80px auto;
}

.story-card-primary {
    max-width: 540px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.card-p1-date {
    background-color: #3CD8E8;
    border-radius: 50px;
    width: 170px;
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    position: relative;
    top: -45px;
    left: 30px;
}

.card-p1-title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 38px;
    color: #000000;
    text-align: left;
    padding: 0 30px;
    margin-top: -20px;
}

.card-p1-desc {
    font-family: "Raleway", serif;
    color: #666666;
    line-height: 28px;
    text-align: left;
    padding: 0 30px;
    margin: 30px 0;
}

.card-secondary-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-sec {
    border-radius: 16px;
    background-color: #FFFFFF;
}

.card-sec-date {
    background-color: #3CD8E8;
    border-radius: 50px;
    width: 170px;
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    position: relative;
    top: -45px;
    left: 30px;
}

.card-sec-title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 28px;
    text-align: left;
    padding: 0 30px;
    margin-top: -45px;
}

.story-img {
    border-radius: 16px 16px 0 0;
}

/* Footer Style Starts */
footer {
    background-color: #01ACFD;
    color: #FFFFFF;
    padding: 120px 0;
    margin: 0;
}

.brand {
    gap: 20px;
}

.footer-content {
    justify-content: space-around;
    padding: 20px 80px;
}

.footer-logo {
    width: 80px;
    /* color: #FFFFFF; */
    background-color: #FFFFFF;
    padding: 5px 0;
}

.footer-title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 38px;
}

.footer-desc {
    font-size: 1.25rem;
    max-width: 400px;
    line-height: auto;
    margin-top: -10px;
}

.footer-links-title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: auto;
}

.footer-link {
    list-style: none;
    margin-bottom: 20px;
    margin-left: -40px;
    text-align: left;
    
}

.footer-link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25rem;
}

.social-title {
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 26px;
}

.social-icon img {
    margin-right: 15px;
}

/* Responsive Media query */
@media screen and (max-width: 576px) {
    * {
        font-size: 85%;
    }

    .section-title {
        margin-bottom: -20px;
    }

    .banner, .std-card-list, .footer-content  {
        flex-direction: column;
    }

    .nav-bar-2 {
        justify-content: space-between;
        visibility: visible;
        padding: 15px;
        border-bottom: 0.5px solid #FEA301;
    }

    .menu-icon {
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-bar, .prev-next, .story-card-primary {
        display: none;
    }

    .nav-brand {
        text-align: left;
    }
     
    .banner {
        text-align: center;
        flex-direction: column-reverse;
        padding: 20px 0;
    }

    .banner-content {
        margin-top: -35px;
    }

    .banner-image {
        width: 100%; 
        text-align: center;
    }

    .banner-image img {
        width: 100%; 
    }

    .std-card {
        margin-bottom: -50px;
    }

    .card-secondary-list {
        gap: 10px; 
    }

    .card-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }

    .card-sec img {
        width: 100%; 
    }

    .card-sec-date {
        position: relative;
        display: inline-block;
        width: 80%;
        margin-top: 30px;
        margin-left: -60px;
        padding: 5px;
    }

    .card-sec-title {

        padding: 10px;
    }

    .footer-content {
        padding: 0 10px;
        margin: -20px auto;
    }
    
    .footer-links, .footer-links a, .social-icons {
        text-align: center;
        display: block;
    }

}



