/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-image {
    background-image: url('../assets/bg.png');
}

.bg-image-gradient {
    background-image: url('../assets/bg.png');
}

.bg-color-1 {
    background-color: #FFFFFF;
}

.bg-color-2 {
    background-color: #01ACFD;
}

.color-1 {
    color: #FEA301;
}

.color-2 {
    color: #01ACFD;
}

.color-3 {
    color: #05D4DF;
}

.color-4 {
    color: #5D58EF;
}

.color-5 {
    color: #64C8FF;
}

.color-6 {
    color: #F0AA00;
}

.color-7 {
    color: #8700FF;
}

.gradient-1 {
    background: linear-gradient(#DEF5FF, #FFFFFF);
}

.gradient-2 {
    background: linear-gradient(#FFF4DC, #FFFFFF);
}

.gradient-3 {
    background: linear-gradient(#EEE1FF, #FFFFFF);
}

.section-title {
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
}

.btn-1 {
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
    color: #FFFFFF;
    padding: 10px;
    width: 180px;
    cursor: pointer;
}

.btn-1:hover {
    color: #FEA301;
    background-color: #FFFFFF;
    border: 1px solid #FEA301;
}

.btn-2 {
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
    width: 180px;
    cursor: pointer;
}

.btn-2:hover {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid black;
}

.btn-3 {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: none;
    background-color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

.btn-3:hover {
    transform: scale(1.2);
}

.flex {
    display: flex;
    align-items: center;
}

.max-width {
    max-width: 1160px;
    margin: 0 auto;
}

/* Nav Style Starts */
.nav-bar {
   justify-content: space-around;
   padding: 20px 80px;
}

.nav-brand {
    gap: 10px;
}

.nav-logo {
    width: 50px;
}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
}

.nav-link {
    list-style: none;
    margin-right: 35px;
    font-size: 1.25rem;
}

.nav-link a {
    text-decoration: none;
}

/* Banner Style Starts */
.banner {
    justify-content: space-between;
    gap: 50px;
}

.banner-title {
    font-size: 3.5rem;
    line-height: 60px;
}

.banner-desc {
    font-size: 1.25rem;
    line-height: auto;
    margin-bottom: 35px;
}

/* Std Curriculum Style Starts */
.std-curriculum {
    padding: 60px 0;
}

.std-card-list {
    justify-content: center;
    gap: 28px;
}

.std-card {
    margin: 80px 0;
    text-align: center;
    border-radius: 18px;
    padding: 50px 25px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
}

.std-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 30px;
    color: #202020;
}

.std-card-desc {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: #808080;
}

.prev-next {
    justify-content: center;
    gap: 10px;
}

.prev, .next {
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FEA301;
    cursor: pointer;
}

